@model Chattruta.ViewModels.VMChattmeddelande

<ul>
	@foreach (var chattmeddelande in Model.Chattmeddelanden)
	{
		<li><strong>@chattmeddelande.Datum - @chattmeddelande.Namn</strong> <br />@chattmeddelande.Meddelande</li>
	}
</ul>



@using(Html.BeginForm())
{
<table>
	<tr>
		<td>
			Namn: 
		</td>
		<td>
			@Html.TextBoxFor(c => c.Chattmeddelande.Namn)
			@Html.ValidationMessageFor(c => c.Chattmeddelande.Namn)
		</td>
	</tr>
	<tr>
		<td>
			Meddelande:
		</td>
		<td>
			@Html.TextBoxFor(c => c.Chattmeddelande.Meddelande)
			@Html.ValidationMessageFor(c => c.Chattmeddelande.Meddelande)
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" /> </td>
	</tr>
</table>
}
